/* --------------- NAVIGATION -------------------- */

.header {
  font-size: 1.8rem;
  width: 100%;

  /* padding: 1.2rem; */
  margin: 0 auto;
}

.navigation {
  display: flex;
  /* justify-content: space-between; */
  height: 7rem;
}

.nav-wrapper {
  height: 7rem;
}

.navigation-list {
  gap: 3.4rem;
  display: flex;
  list-style: none;
  /* flex-direction: row; */
  margin-left: auto;
}

.navigation-list a:link,
.navigation-list a:visited {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: inherit;
  transition: all 0.5s;
}

.navigation-list a:after {
  content: "";
  display: block;
  border-bottom: 2px solid #3498db;
  width: 0;
  position: absolute;
  left: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.navigation-list a:hover:after {
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.877);
  z-index: 999;
  height: 7rem !important;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.06);
}

/* --------------- HERO / ABOUT -------------------- */

.hero-section {
  margin: 9.6rem 0;
  scroll-margin-top: 10rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.navigation {
  padding: 2rem 4rem 4rem 4rem;
  height: 4rem;
  /* display: flex; */
}

.hero-photo-box {
  text-align: center;
}

.hero-img {
  width: 100%;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.hero-span {
  font-size: 2.4rem;
}

.hero-text-box {
  align-self: center;
}

.hero-p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about {
  font-size: 1.4rem;
  line-height: 1.8;
  margin-bottom: 6rem;
}

.social-links {
  display: flex;
  gap: 3.4rem;
  list-style: none;
}

.github,
.youtube,
.facebook,
.insta {
  transition: all 0.5s;
}

.github:hover {
  color: #000;
}

.youtube:hover {
  color: #ff0000;
}

.facebook:hover {
  color: #4267b2;
}

.insta:hover {
  color: #c13584;
}

.social-link {
  color: inherit;
}

.ion-icon {
  height: 2.6rem;
  width: 2.6rem;
}

/* ---------- SKILLS -------- */

.section-skills {
  margin-bottom: 9.6rem;
  scroll-margin-top: 10rem;
}

.skills-element {
  font-size: 1.4rem;
  padding: 0.8rem;
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: default;
  box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.08);
}

.skills-element:hover {
  background-color: #f0f0f0;
  transform: translateY(-4px);
}

.skills-flex {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.skill-img-box {
  width: 100%;
}

/* ---------- PROJECTS -------------- */

.section-projects {
  margin-bottom: 9.6rem;
  scroll-margin-top: 10rem;
}

.project-box {
  padding: 3.2rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.07);
}

.project-pic {
  width: 100%;
  margin-bottom: 2rem;
}

.project-short-description {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 2.6rem;
}

.view-project {
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  background-color: #e0e0e0;
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
  position: relative;
  transition: all 0.5s;
}

.view-project::after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 1px;
  right: -20px;
  transition: all 0.5s;
  font-size: 20px;
}

.view-project:hover {
  padding-right: 22px;
  padding-left: 10px;
  background-color: #f0f0f0;
}

.view-project:hover:after {
  opacity: 1;
  right: 8px;
}

/* --------------------- CONTACT --------------------- */

.section-contact {
  margin-bottom: 9.6rem;
  text-align: center;
  scroll-margin-top: 20px;
}

.contact-form {
  padding: 2rem;
}

.row {
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
}

.big {
  width: 100%;
  padding: 1rem;
}

input {
  margin-bottom: 1rem;
}

label {
  display: flex;
}

input:focus,
.big:focus {
  outline: none !important;
  border: 2px solid #3498db;
}

/* input:hover {
  border: 2px solid #3498db;
} */

.send {
  text-align: center;
  margin: 0 auto;
  background: none;
  border: 2px solid transparent;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  font-weight: 500;
  font-family: inherit;
}

.send:hover {
  border: 2px solid #3498db;
  color: #3498db;
}

/* -------------------- FOOTER ----------------------- */

.footer {
  padding: 10rem 0 10rem 0;
  /* background-image: linear-gradient(#fff, #cccccc); */
  background-image: linear-gradient(#fff, #e0e0e0);
  /* border-top: 1px solid #e0e0e0; */
}

.footer-text-box {
  display: grid;
}

.footer p {
  font-size: 1.4rem;
}

.footer-link {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s;
}

.footer-link:hover {
  color: #3498db;
}

.footer-text {
  margin-bottom: 3rem;
}

.copy {
  margin-top: 5rem;
  /* justify-self: start; */
}

.social-links-footer {
  justify-content: end;
  align-items: end;
  height: 100%;
}

/* .footer-social-grid {
  height: 100%;
} */
