@media (max-width: 78rem) {
  html {
    font-size: 56.25%;
  }

  .view-project::after {
    top: -1px;
  }
}

@media (max-width: 69rem) {
  section {
    padding: 0 4rem;
  }

  .hero-section {
    margin-bottom: 8rem;
  }

  .section-skills {
    margin-bottom: 8rem;
  }

  /* .project {
     width: 90%; 
     justify-self: center; 
  } */

  .grid--2-cols {
    gap: 4.5rem;
  }

  .project-box {
    padding: 3.2rem 2.4rem;
  }

  .project-short-description {
    font-size: 1.2rem;
    /* line-height: 1.4; */
  }

  .footer {
    padding: 8rem 4rem;
  }

  .project-title {
    font-size: 4rem;
  }

  .footer .grid--2-cols {
    text-align: center;
  }

  .footer-contact {
    justify-self: center;
  }

  .ion-icon {
    height: 3rem;
    width: 3rem;
  }

  .social-links-footer {
    justify-content: center !important;
  }
}

@media (max-width: 57rem) {
  html {
    font-size: 62.5%;
  }

  .hero {
    grid-template-columns: 1fr;
    gap: 5.2rem;
  }

  .hero-photo-box {
    grid-row: 2;
  }

  .hero-text-box {
    justify-self: center;
    width: 80%;
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }

  .hero-img {
    width: 80%;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .skill-tabs {
    width: 80%;
    justify-self: center;
    text-align: center;
  }

  .skills-flex {
    justify-content: center;
  }

  .skill-img-box {
    text-align: center;
  }

  .heading-h3 {
    text-align: center;
    font-size: 3.8rem;
  }

  .project {
    width: 80%;
    justify-self: center;
  }

  .project-short-description {
    font-size: 1.4rem;
    line-height: 1.8;
  }

  .social-links-footer {
    justify-content: center !important;
  }
}

@media (max-width: 44rem) {
  .hero-text-box .social-links {
    display: none;
  }

  .hero-section {
    scroll-margin-top: 7rem;
  }

  .about {
    margin-bottom: 2.4rem;
  }

  .skills-flex {
    gap: 2rem;
  }

  .skills-element {
    font-size: 1.6rem;
  }

  .nav-element {
    font-size: 2.4rem;
    text-transform: uppercase;
  }

  .nav-wrapper {
    transition: all 0.5s;
  }

  .header {
    transition: all 0.5s;
  }

  .navigation-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    width: 100%;
    /* height: inherit; */
  }

  .navigation {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    /* transform: translateX(100%); */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    top: 0;
    right: 0;
    opacity: 0;
    height: 100vh;
    width: 100%;
    /* justify-content: center !important;
    align-items: center; */
    pointer-events: none;
    visibility: hidden;
  }

  .dark .navigation {
    background-color: rgba(99, 0, 238, 0.87);
  }

  .dark .navigation-list a:after {
    border-bottom: 2px solid #ecf0f1;
  }

  .icon-mobile-nav {
    z-index: 9999;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 99999;
    margin-left: auto;
    padding-top: 1rem;
    padding-right: 1rem;
  }

  .nav-open .navigation {
    opacity: 1;
    pointer-events: auto;

    /* display: flex; */
    /* text-align: center;
    justify-content: space-between; */

    visibility: visible;
    /* transform: translateX(0%); */
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .btn-light-dark-mode {
    display: block;
    z-index: 99999;
  }

  .section-skills {
    scroll-margin-top: 7rem;
  }

  .section-projects {
    scroll-margin-top: 7rem;
  }
}

@media (max-width: 25rem) {
  .container {
    width: 100%;
  }

  .hero-section {
    margin-bottom: 5rem;
  }

  .hero {
    gap: 2rem;
  }

  .about {
    margin-bottom: 1.6rem;
  }

  .skills-flex {
    margin-bottom: 3rem;
  }
  .section-skills {
    margin-bottom: 5rem;
    scroll-margin-top: 6rem;
  }

  .hero-text-box,
  .hero-img,
  .skill-tabs,
  .project {
    width: 100%;
  }

  .grid--2-cols {
    gap: 2.5rem;
  }

  .section-projects {
    margin-bottom: 5rem;
    scroll-margin-top: 6rem;
  }

  .section-contact {
    scroll-margin-top: 6rem;
    margin-bottom: 5rem;
  }

  .footer {
    padding: 4rem 2rem 5rem 2rem;
  }
}

/* @media (max-width: ); */
